<!doctype html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

        <link rel="stylesheet" href="/static/common/style.css">
        <link rel="stylesheet" href="/static/404/style.css">
        <link rel="icon" href="/static/common/favicon.svg">

        <script src="/static/common/events.js" defer></script>
        <script type="module" src="/static/404/main.js" defer></script>

        <title>SOCKETER · Error</title>
    </head>
    <body>
        <h1 id="title">Oh no!</h1>
        <h2 id="sub">
            You searched in an unknown area!<br>
            But don't let you down, you can join other people by pressing this button below!
        </h2>
        <a href="/" id="home">home</a>
        <div class="window">
            <div class="title-bar">
                <i class="dot" index="1"></i>
                <i class="dot" index="2"></i>
                <i class="dot" index="3"></i>
            </div>
            <pre id="k-content">> <span id="edit" contenteditable="true"></span></pre>
        </div>
    </body>
</html>